/*
Theme Name: Jobseek Child
Description: Child Job Board WordPress Theme
Author: coffeecream 
Theme URI: http://themeforest.net/user/coffeecream/portfolio
Author URI: http://themeforest.net/user/coffeecream
Template: jobseek
Version: 1.0
License: ThemeForest Regular License
License URI: http://themeforest.net/licenses/regular
*/

@import url("../jobseek/style.css");
#header #logo a img {
  display: block;
  padding: 5px 0;
}
body #header, body #header nav #main-nav li a {
    height: 60px;
    line-height: 60px;
}
body.jobseek-child {padding-top: 127px;}
#top-bar ul li:before{content: none;}
.pricing ul li.price {
  border: 0;
  color: #ffffff;
  font-size: 4em;
  font-weight: 100;
  line-height: 2em;
  background-color: #13a4da;
  background-image: -webkit-gradient(linear, left top, right top, from(#14b1bb), to(#13a4da));
  background-image: -webkit-linear-gradient(left, #14b1bb,#13a4da);
  background-image: -moz-linear-gradient(left, #14b1bb,#13a4da);
  background-image: -ms-linear-gradient(left, #14b1bb,#13a4da);
  background-image: -o-linear-gradient(left, #14b1bb,#13a4da);
}

@media (max-width: 768px) {
	body header#header {height: 71px !important;}
	body.jobseek-child {padding-top: 71px;}
}
p.widget_contact{margin:10px;}
.phone .icom-phone:before{
    color: #aeaeae;
    content: "\e90f";
    font-family: "icomoon";
    left: 15px;
    position: absolute;
    top: 15px;
}
footer #credits a {
    margin-right: 10px;
}
footer [class^="fa-"], footer [class*=" fa-"] {
  border: 1px solid #14b1bb;
  border-radius: 50%;
  display: inline-block;
  font-size: 1.25em;
  height: 40px;
  line-height: 40px;
  margin: 0 0.25em 1em 0.25em;
  text-align: center;
  width: 40px;
}
footer [class^="icon-"], footer [class*=" icon-"] {
  border: 1px solid #14b1bb !important;}
.social_color {color: #888888 !important;}
/*.widget_contact i.fa{color:#14b1bb; }*/
/*.icon-envelope:before {
  content: "\e912";
}
.icon-phone:before {
  content: "\e407";
}
.icon-display:before {
  content: "\e229";
}*/
/*\e507 */

