@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?vtvagc');
    src:    url('../fonts/icomoon.eot?vtvagc#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?vtvagc') format('truetype'),
        url('../fonts/icomoon.woff?vtvagc') format('woff'),
        url('../fonts/icomoon.svg?vtvagc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bank-notes-22:before {
  content: "\e930";
}
.icon-clock-2:before {
  content: "\e92f";
}
.icon-map-target-1:before {
  content: "\e92d";
}
.icon-loading-2:before {
  content: "\e92e";
}
.icon-flash-2:before {
  content: "\e92c";
}
.icon-help-circle:before {
  content: "\e929";
}
.icon-infomation-circle:before {
  content: "\e92a";
}
.icon-report-problem-triangle:before {
  content: "\e92b";
}
.icon-arrow-down-12:before {
  content: "\e928";
}
.icon-briefcase:before {
  content: "\e90b";
}
.icon-arrow-right-7:before {
  content: "\e926";
}
.icon-arrow-left-7:before {
  content: "\e927";
}
.icon-logo-youtube-clip:before {
  content: "\e916";
}
.icon-logo-xing:before {
  content: "\e917";
}
.icon-logo-vimeo:before {
  content: "\e918";
}
.icon-logo-tumblr:before {
  content: "\e919";
}
.icon-logo-stack-overflow:before {
  content: "\e91a";
}
.icon-logo-soundcloud:before {
  content: "\e91b";
}
.icon-logo-skype:before {
  content: "\e91c";
}
.icon-logo-linkedin:before {
  content: "\e91d";
}
.icon-logo-instagram:before {
  content: "\e91e";
}
.icon-logo-google-plus-1:before {
  content: "\e91f";
}
.icon-logo-github:before {
  content: "\e920";
}
.icon-logo-flickr:before {
  content: "\e921";
}
.icon-logo-facebook:before {
  content: "\e922";
}
.icon-logo-dribbble:before {
  content: "\e923";
}
.icon-logo-behance:before {
  content: "\e924";
}
.icon-bookmark-5:before {
  content: "\e915";
}
.icon-arrow-right-12:before {
  content: "\e914";
}
.icon-logo-twitter-bird:before {
  content: "\e911";
}
.icon-link-2:before {
  content: "\e90a";
}
.icon-check-1:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-pencil-2:before {
  content: "\e909";
}
.icon-hide:before {
  content: "\e90d";
}
.icon-copy-3:before {
  content: "\e90e";
}
.icon-arrow-down-7:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e905";
}
.icon-view-2:before {
  content: "\e900";
}
.icon-bookmark-1:before {
  content: "\e913";
}
.icon-email:before {
  content: "\e912";
}
.icon-logo-circle-youtube:before {
  content: "\e901";
}
.icon-logo-circle-twitter-bird:before {
  content: "\e902";
}
.icon-logo-circle-google-plus:before {
  content: "\e903";
}
.icon-logo-circle-facebook:before {
  content: "\e904";
}
.icon-bank-notes-2:before {
  content: "\e925";
}
.icon-calendar-2:before {
  content: "\e90c";
}
.icon-location-pin-2:before {
  content: "\e90f";
}
.icon-logo-circle-linkedin:before {
  content: "\e910";
}