.uber-google-map img {
    max-width: none !important;
}

.uber-google-maps-fullscreen-button {
    height: 44px;
    background: white;
    position: absolute;
    top: 18px;
    left: 50%;
    margin-left: -80px;
    z-index: 999;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    border: 1px solid #c8c8c8;
    cursor: pointer;
    padding: 0 20px 0 44px;
    font-size: 16px;
    line-height: 44px;
    font-family: sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.uber-google-maps-fullscreen-button:active {
    background: #eee;
}

.uber-google-maps-fullscreen-button:before {
    position: absolute;
    display: block;
    content: '';
    left: 10px;
    top: 9px;
    width: 24px;
    height: 24px;
}

#go-fullscreen:before {
    background: url('../img/go_fullscreen.svg');
}
#close-fullscreen:before {
    background: url('../img/close_fullscreen.svg');
}

.uber-google-maps-fullscreen-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999999;
}

body.uber-google-maps-fullscreen, html.uber-google-maps-fullscreen {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.uber-google-maps-info-window-content-wrap * {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 1em !important;
    line-height: normal !important;
}

.uber-google-maps-info-window-content-wrap .uber-google-maps-title {
    color: #222;
    font-size: 1.5rem !important;
    font-weight: bold !important;
    margin: 10px 0 !important;
    text-transform: uppercase;
}

.uber-google-maps-info-window-content-wrap .uber-google-maps-subtitle {
    font-size: 1rem !important;
    font-weight: normal !important;
    margin: 10px 0 !important;
}

.uber-google-maps-info-window-content-wrap .uber-google-maps-phone,
.uber-google-maps-info-window-content-wrap .uber-google-maps-address,
.uber-google-maps-info-window-content-wrap .uber-google-maps-email,
.uber-google-maps-info-window-content-wrap .uber-google-maps-web {
    font-size: 1rem !important;
    line-height: 34px !important;
    padding-left: 40px !important;
    position: relative;
}

.uber-google-maps-info-window-content-wrap .uber-google-maps-phone:before,
.uber-google-maps-info-window-content-wrap .uber-google-maps-address:before,
.uber-google-maps-info-window-content-wrap .uber-google-maps-email:before,
.uber-google-maps-info-window-content-wrap .uber-google-maps-web:before {
    display: block;
    position: absolute;
    content: '';
    left: 0;
    top: 2px;
    width: 24px;
    height: 24px;
}

.uber-google-maps-info-window-content-wrap .uber-google-maps-phone:before {
    background: url('../img/phone.png');
}

.uber-google-maps-info-window-content-wrap .uber-google-maps-address:before {
    background: url('../img/address.png');
}

.uber-google-maps-info-window-content-wrap .uber-google-maps-email:before {
    background: url('../img/email.png');
}

.uber-google-maps-info-window-content-wrap .uber-google-maps-web:before {
    background: url('../img/web.png');
}

.uber-google-maps-info-window-content-wrap p {
    margin-top: 10px !important;
}











/**/
